.report {
  .category.header { margin-top: 20px; }
  .card { margin-top: 15px; }
  .view.record-content { display: inline; }
  .view.report-content h3.report-header { display: none; }
  form.report{
    textarea.report-content { width: 100%; height: 400px; }
    input.report-name       { width: 100%; }
  }
}

